/* DEBUG */

.debug {
  border: 1px dashed red;
}

/* HEADER */

header {
  width: 100%;
  background-color: #f8f9fa;
  height: 60px;
}

#top {
  height: 40px;
  line-height: 40px;
  background-color: white;
}

.logo-mobile img {
  height: 40px;
}

.box {
  height: auto;
}

/* MAIN */

#main-content {
  width: 100%;
  height: calc(100vh - 60px);
}

#main-content #sidebar {
  background-color: #051e34;
  width: 70px;
}

#content {
  width: calc(100% - 70px);
  overflow: auto;
}

.button-side {
  color: white;
}

#head-content {
  background-color: #1b72e8;
  width: 100%;
  color: white;
}

#head-content label {
  background-color: #165bba;
  border-radius: 15px;
  width: auto;
  color: white;
}

.box #title-box {
  height: auto;
  background-color: lightgray;
}

label {
  padding: 3px;
  height: auto;
  color: white;
  border-radius: 2px;
  width: 60px;
}

label.green {
  background-color: green;
}

label.yellow {
  background-color: rgb(235, 235, 14);
}

label.red {
  background-color: red;
}

.todo-box {
  border: 1px solid gray;
  border-radius: 10px;
  height: auto;
}

.todo-box li {
  border-bottom: 1px solid gray;
  list-style: none;
  height: auto;
}

/* SIDEBAR */

.user-sidebar {
  color: white;
}

/* FAQ */

#faq {
}

#faq li {
  list-style: none;
  border-bottom: 1px solid lightgray;
}

/* responsive DESKTOP */

@media screen and (min-width: 768px) {
  #main-content #sidebar {
    width: 120px;
  }

  #content {
    width: calc(100% - 120px);
  }
}
