.debug {
  border: 2px dashed red;
}

header {
  width: 100%;
  background-color: #f8f9fa;
  height: 60px;
}

#top {
  height: 40px;
  line-height: 40px;
  background-color: white;
}

.logo input,
textarea {
  background-color: gray;
}

.search {
}

.top-button {
}
