/* DEBUG */

.debug {
  border: 2px dashed red;
}

/* HEADER */

header {
  width: 100%;
  background-color: #f8f9fa;
  height: 60px;
}

#top {
  height: 40px;
  line-height: 40px;
  background-color: white;
}

.logo-mobile img {
  height: 40px;
}

/* MAIN */

#main-content {
  width: 100%;
  height: calc(100vh - 60px);
}

#main-content #sidebar {
  background-color: #051e34;
  width: 150px;
  height: 100vh;
}

#content {
  width: calc(100% - 150px);
}

.button-side {
  color: white;
}

#head-content {
  height: 100px;
  background-color: #1b72e8;
  width: 100%;
  color: white;
}
